<!--²Ëµ¥-->
<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
        <!-- START sidebar nav-->
        <ul class="nav">
            <!-- START user info-->
            <li class="has-user-block">
                <div id="user-block" class="collapse">
                    <div class="item user-block">
                        <!-- User picture-->
                        <div class="user-block-picture">
                            <div class="user-block-status">
                                <img src="~/Content/Images/user/02.jpg" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
                                <div class="circle circle-success circle-lg"></div>
                            </div>
                        </div>
                        <!-- Name and Job-->
                        <div class="user-block-info">
                            <span class="user-block-name">Hello, WesChen</span>
                            <span class="user-block-role">Designer</span>
                        </div>
                    </div>
                </div>
            </li>
            <!-- END user info-->
            <!-- Iterates over all sidebar items-->
            <li class="nav-heading">
                <span>Main Navigation</span>
            </li>

            <li class="@Html.isActive(controller:"BaseSetting")">
                <a href="#basesetting" title="BaseSetting" data-toggle="collapse">
                    <div class="label label-info pull-right">2</div>
                    <em class="icon-settings"></em>
                    <span data-localize="sidebar.nav.DASHBOARD">BaseSetting</span>
                </a>
                <ul id="basesetting" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">BaseSetting</li>
                    <li class="@Html.isActive("BaseSetting", "UserAccount")">
                        <a href="@Url.Action("UserAccount", "BaseSetting")" title="UserAccount">
                            <em></em>
                            <span>UserAccount</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("BaseSetting", "UserRole")">
                        <a href="@Url.Action("UserRole", "BaseSetting")" title="Role">
                            <em></em>
                            <span>UserRole</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="@Html.isActive(controller: "GarmentStyle")">
                <a href="#dashboard" title="Dashboard" data-toggle="collapse">
                    <div class="label label-info pull-right">3</div>
                    <em class="icon-speedometer"></em>
                    <span data-localize="sidebar.nav.DASHBOARD">GarmentStyle</span>
                </a>
                <ul id="dashboard" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">GarmentStyle</li>
                    
                    <li class="@Html.isActive("GarmentStyle", "GetById")">
                        <a href="@Url.Action("GetById", "GarmentStyle")" title="Part GetById">
                            <em></em>
                            <span>byID</span>
                        </a>
                    </li>                                        
                </ul>                
            </li>

            <li>
                <a href="#layout" title="Layouts" data-toggle="collapse">
                    <em class="icon-layers"></em>
                    <span>Layouts</span>
                </a>
                <ul id="layout" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Horizontal</li>
                    <li>
                        <a href="@Url.Action("Dashboard_h", "Dashboard")" title="Dashboard Horizontal">
                            <em></em>
                            <span>Horizontal</span>
                        </a>
                    </li>
                </ul>
            </li>           
        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->